@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using(Html.BeginForm("SayMyName", "Home", FormMethod.Post))
    {
        <div class="formName">
            <div class="wrapper">
                Name:
                            <div>@Html.TextBox("Name")</div>
                            <button class="btn btn-outline-success" type="submit">Enter</button>
            </div>
        </div>
    }
</div>

